<%= form_with(model: resource, local: true) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :uid %>
  <%= form.text_field :uid, placeholder: 'unique ID (all numbers)', class: 'form-control' %>

  <%= form.label :name %>
  <%= form.text_field :name, placeholder: 'name', class: 'form-control' %>

  <%= form.label :skills %>
  <%= form.text_field :skills, placeholder: 'skill1, skill2, skill3...', class: 'form-control' %>

  <%= form.label :portfolio %>
  <%= form.text_field :portfolio, placeholder: 'portfolio', class: 'form-control' %>

  <%= form.label :start_date %>
  <%= form.date_select :start_date %>

  <%= form.label :location %>
  <%= form.text_field :location, placeholder: 'location', class: 'form-control' %>

  <%= form.label :manager %>
  <%= form.text_field :manager, placeholder: 'manager\'s name', class: 'form-control' %>

  <%= form.submit yield(:button_text), class: 'btn btn-primary btn-block' %>
<% end %>
