<%= form_for(@resource, url: yield(:submit_url)) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <%= form.label :uid %>
  <%= form.text_field :uid, placeholder: 'unique ID (all numbers)', class: 'form-control' %>

  <%= form.label :name %>
  <%= form.text_field :name, placeholder: 'name', class: 'form-control' %>

  <%= form.label :phone_number %>
  <%= form.text_field :phone_number, placeholder: 'phone number', class: 'form-control' %>

  <%= form.label :email %>
  <%= form.text_field :email, placeholder: 'email', class: 'form-control' %>

  <%= form.label :skills %>
  <%= form.text_field :skills, placeholder: 'skill1, skill2, skill3...', class: 'form-control' %>

  <%= form.label :portfolio %>
  <%= form.text_field :portfolio, placeholder: 'portfolio', class: 'form-control' %>

  <%= form.label :start_date %>
  <%= form.date_select :start_date %>

  <%= form.label :location %>
  <%= form.text_field :location, placeholder: 'location', class: 'form-control' %>

  <%= form.label :manager %>
  <%= form.text_field :manager, placeholder: 'manager\'s name', class: 'form-control' %>
  <div class="row">
    <div class="col-sm-6 padding-right-5">
      <%= form.submit yield(:button_text), class: 'btn btn-primary btn-block' %>
    </div>
    <div class="col-sm-6 padding-left-5">
      <%= link_to 'Cancel', resources_path, class: "btn btn-danger btn-block" %>
    </div>
  </div>
<% end %>
