<script>
function exportDataToExcel(table_id, filename)
{
  var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
  var textRange; var j=0;
  table = document.getElementById(table_id); // id of table

  // Get the number of columns - only want to get cells with headers
  num_cols = 0;
  for(j = 0; j < table.rows[0].cells.length; j++)
  {
    if(table.rows[0].cells[6].innerText == "")
      break;
    else
      num_cols++;
  }
  // Go through each row
  for(i = 0; i < table.rows.length; i++) 
  {
    for(j = 0; j < num_cols - 1; j++)
    {
      if(i == 0)
        tab_text += "<th>" + table.rows[i].cells[j].innerHTML + "</th>"
      else
        tab_text += "<td>" + table.rows[i].cells[j].innerHTML + "</td>"
    }
    tab_text=tab_text+"</tr>";
  }

  tab_text=tab_text+"</table>";
  tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, ""); //remove if u want links in your table
  tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
  tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

  var ua = window.navigator.userAgent;
  var msie = ua.indexOf("MSIE "); 

  fileType = 'application/vnd.ms-excel';
  filename = filename?filename+'.xls':'resources_download.xls';
  downloadurl = document.createElement("a");
  document.body.appendChild(downloadurl);
  downloadurl.href = 'data:' + fileType + ', ' + encodeURIComponent(tab_text);
  downloadurl.download = filename;
  downloadurl.click();

  // if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) // If Internet Explorer
  // {
  //   txtArea1 = window.open();
  //   txtArea1.document.open("txt/html","replace");
  //   txtArea1.document.write(tab_text);
  //   txtArea1.document.close();
  //   txtArea1.focus(); 
  //   sa=txtArea1.document.execCommand("SaveAs",true, filename + ".xls");
  //   return (sa);
  // }
  // else //other browser not tested on IE 11
  // {
  //   fileType = 'application/vnd.ms-excel';
  //   filename = filename?filename+'.xls':'resources_download.xls';
  //   downloadurl = document.createElement("a");
  //   document.body.appendChild(downloadurl);
  //   downloadurl.href = 'data:' + fileType + ', ' + encodeURIComponent(tab_text);
  //   downloadurl.download = filename;
  //   downloadurl.click();
  // }
}
</script>

<p id="notice"><%= notice %></p>

<aside class="col-md-2">
  <h2>Sort by Skills</h2>
  <div>
    <%= form_tag resources_path, :method => "get" do %>
      <div>
        <% n = 0 %>
        <% @skills.each do |skill| %>
          <% checked = (params[:selected_skills].include? skill) ? true : false %>
          <% id =  "skill-checkbox-#{n}"%>
          <div class="checkbox">
            <%= check_box_tag 'selected_skills[]', skill, checked, class: "checkbox", id: id %>
            <label class="nopadding checkbox" for=<%= id %>><%= skill %></label>
          </div>
          <% n += 1 %>
        <% end %>
      </div>
      <%= submit_tag 'Sort Resources', class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</aside>

<div class="col-md-10 border-left">
  <h1>Sorted Resources</h1>
  <h2 class="row">
    <%= link_to 'Add a Resource', new_resource_path, class: "btn btn-primary white-color" %>
    <%= link_to 'Export to Excel', resources_path(format: :xlsx), class: "btn btn-primary white-color" %>
  </h2>
  
  <% if @resources.empty? %>
    <h3 class="text-center">No resources found for the given search scope!</h3>
  <% else %>
    <table id="resources-table">
      <thead>
        <tr>
          <th class="text-center">Uid</th>
          <th class="text-center">Name</th>
          <th class="text-center">Skills</th>
          <th class="text-center">Portfolio</th>
          <th class="text-center">Start date</th>
          <th class="text-center">Location</th>
          <th class="text-center">Manager</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @resources.each do |resource| %>
          <tr class="border-top">
            <td class="border-right"><b><%= resource.uid %></b></td>
            <td class="border-right"><%= resource.name %></td>
            <td class="border-right"><%= resource.skills.join(', ') %></td>
            <td class="border-right"><%= resource.portfolio %></td>
            <td class="border-right"><%= resource.start_date %></td>
            <td class="border-right"><%= resource.location %></td>
            <td class="border-right"><%= resource.manager %></td>
            <td><b><%= link_to 'Show', resource %></b></td>
            <td><b><%= link_to 'Edit', edit_resource_path(resource) %></b></td>
            <td class="border-right"><b><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></b></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
